body {
  margin: 0;
  padding: 0;
}
div{
	margin: 0;
	padding: 0;
}
body {
    font: 14px "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
	}
#header {
    background: #07111b;
}

#header .page-container {
    width: auto;
    padding-right: 10px;
    z-index: 900;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
    position: relative;
	/* height: 4.5rem; */
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div {
    background-size: cover;}
	
#header .logo a {
    background: none !important;
}
#header .logo {
    float: left;
    margin: 0 20px;
}
#header .logo a {
    display: block;
    width: 140px;
    height: 72px;
    transition: background-color 0.2s;
}

a:link, a:visited {
    color: #1c1f21;
}
#header .logo a img {
    height: 72px;
}
a:link, a:visited {
    color: #1c1f21;
}
button {
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;

}
.l {
    float: left;
}
 ul {
    list-style: none;
}
#header .nav-item li {
    float: left;
}
.visible-xs-block {
    display: none;
}
ul {
    list-style: none;
}
#header .nav-item li a {
    color: #4D555D !important;
}
#header .nav-item li a {
    padding: 0 20px;
	margin: 0;
    display: block;
    text-align: center;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
    transition: background-color 0.3s;
    position: relative;
}
:link, :visited, ins {
    text-decoration: none;
}
a {
    outline: none;
}
#header .nav-item li a {
    color: #4D555D !important;
}

#header #login-area {
    float: right;
    position: relative;
}

#header #login-area .header-unlogin > li {
    float: left;
}

#header #login-area .app-download {
    line-height: 72px;
    color: rgba(255, 255, 255, 0.6);
}
.app-download {
    position: relative;
}

#header #login-area .app-download > a {
    padding: 0 15px;
    font-size: 14px;
    /* color: rgba(255, 255, 255, 0.6); */
}
#login-area .app-download > a {
    color: #71777d !important;
}


.app-download .app-load-box {
    /* display: none; */
    position: absolute;
    right: 0;
    top: 100%;
    width: 304px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    line-height: 16px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
.app-download .app-load-box {

    color: #4D555D;
    line-height: 16px;
    font-size: 12px;
}
.app-download .app-load-box h4 {
    margin: 12px 0;
    font-size: 14px;
    color: #1C1F21;
    text-align: center;
    line-height: 22px;
}
.app-download .app-load-box img {
    width: 108px;
    height: 108px;
}
.r {
    float: right;
}

.app-download .app-load-box a.app-load-btn {
    display: block;
    color: #fff;
    width: 132px;
    height: 36px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
}

#header #login-area {
    float: right;
    position: relative;
}
ul {
	margin: 0;
	padding: 0;
}
li{
	margin: 0;
	padding: 0;
}
#header #login-area .header-unlogin > li {
    float: left;
}
#header #login-area .app-download {
    line-height: 72px;
    color: rgba(255, 255, 255, 0.6);
}
.app-download {
    position: relative;
}
#header #login-area .app-download > a {
    padding: 0 15px;
    font-size: 14px;
    /* color: rgba(255, 255, 255, 0.6); */
}
#login-area .app-download > a {
    color: #71777d !important;
}
#header #login-area .app-download {
    line-height: 72px;
    /* color: rgba(255, 255, 255, 0.6); */
}
.app-download .app-load-box {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 304px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    line-height: 16px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.app-download .app-load-box {
  
    color: #4D555D;
    line-height: 16px;
   
    font-size: 12px;
}
.app-download .app-load-box h4 {
    margin: 12px 0;
    font-size: 14px;
    color: #1C1F21;
    text-align: center;
    line-height: 22px;
}
.app-download .app-load-box img {
    width: 108px;
    height: 108px;
}
.r {
    float: right;
}
.app-download .app-load-box a.app-load-btn {
    display: block;
    color: #fff;
    width: 132px;
    height: 36px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
}
.app-download .app-load-box a.app-load-btn i {
    font-size: 16px;
    margin: 0 8px 0 12px;
    vertical-align: -2px;
}

#header #login-area .shop-cart .shop-cart-icon {
    display: inline-block;
    padding: 0 18px;
    width: auto;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    height: 36px;
    line-height: 34px;
    color: #787d82;
    text-align: center;
}




/* 登录注册 */
#header .page-container #login-area .header-unlogin .header-signin {
    color: #D9DDE1;
}
#header #login-area .header-unlogin .header-signin {
    margin-left: 12px;
    /* color: rgba(255, 255, 255, 0.6); */
}
#header #login-area .header-unlogin > li {
    float: left;
}
#header .page-container #login-area .header-unlogin .header-signin a {
    color: #4D555D;
}
#header #login-area .header-unlogin .header-signin a {
    display: inline-block;
    padding: 0 12px;
    height: 72px;
    line-height: 72px;
   font-size: 14px;
    /*  color: rgba(255, 255, 255, 0.6);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s; */
    transition: background-color 0.2s;
}


/* 搜索框 */
.search-warp {
    position: relative;
    float: left;
    margin-left: 24px;
}
.search-area {
    float: right;
    position: relative;
    height: 40px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    zoom: 1;
    background: #E9E9E9;
    border-radius: 8px;
    margin: 16px 0;
    width: 324px;
    box-sizing: border-box;
    font-size: 0;
    /* -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s; */
    transition: width 0.3s;
}
.search-area .search-input {
    padding: 8px 12px;
    font-size: 14px;
    color: #A6A6A6;
    line-height: 24px;
    height: 40px;
    width: 100%;
    float: left;
    border: 0;
    transition: background-color 0.3s;
    background-color: transparent;
    box-sizing: border-box;
}
input {
    outline: none;
}
.search-area .btn_search {
    float: left;
    cursor: pointer;
    width: 30px;
    height: 38px;
    text-align: center;
    transition: background-color 0.3s;
}
.search-area .hotTags {
    position: absolute;
    top: 0;
    right: 40px;
}
.search-area .hotTags a {
    display: inline-block;
    padding: 4px 8px;
    height: 16px;
    font-size: 14px;
    color: #545C63;
    line-height: 16px;
    margin-top: 8px;
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:link, :visited, ins {
    text-decoration: none;
}
.search-area .search-area-result {
    position: absolute;
    left: 0;
    top: 57px;
    width: 300px;
    margin-bottom: 20px;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    font-size: 12px;
    overflow: hidden;
    display: none;
    z-index: 800;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-area .search-area-result .hot {
    padding: 12px 0 8px 12px;
    box-sizing: border-box;
}
.search-area .search-area-result h2 {
    font-size: 12px;
    color: #1c1f21;
    line-height: 12px;
    margin-bottom: 8px;
    font-weight: 700;
}
.search-area .search-area-result .hot .hot-item {
    background: rgba(84, 92, 99, 0.1);
    border-radius: 12px;
    padding: 4px 12px;
    line-height: 16px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: #545c63;
}
.search-area .search-area-result .history {
    border-top: 1px solid rgba(28, 31, 33, 0.1);
    box-sizing: border-box;
}
.search-warp .showhide-search {
    width: 20px;
    height: 24px;
    text-align: right;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 24px;
    padding: 0 8px;
    border-radius: 18px;
}
.search-warp .showhide-search i {
    display: block;
    height: 24px;
    color: #545C63;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    width: 20px;
}
.icon-search:before {
    content: "\e610";
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: 0;
    visibility: hidden;
}


/* 我的购物车 */
#header #login-area .shop-cart {
    height: 36px;
    line-height: 36px;
    margin: 18px 0;
}
.shop-cart {
    position: relative;
}
#header #login-area .shop-cart .shop-cart-icon {
    display: inline-block;
    padding: 0 18px;
    width: auto;
    box-sizing: border-box;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 18px;
    height: 36px;
    line-height: 34px;
    color: #787d82;
    text-align: center;
}
.shop-cart .shop-cart-icon {
    border: 1px solid #D9DDE1 !important;
}
:link, :visited, ins {
    text-decoration: none;
}
.shop-cart .shop-cart-icon .icon-shopping-cart {
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 8px;
}
.shop-cart .shop-cart-icon span {
    color: #71777d;
}
/* .icon-shopping-cart:before {
    content: "\e929";
} */
.shop-cart .shop-cart-icon span {
    color: #71777d;
}
.shop-cart .shop-cart-icon .shopping_icon {
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    background: #f01414;
    color: #fff;
    margin-left: 8px;
    /* display: inline-flex; */
    border-radius: 8px;
}
#header #login-area .shop-cart .my-cart {
    top: 54px;
}
.shop-cart .my-cart {
    display: none;
    width: 344px;
    padding: 0 16px;
    position: absolute;
    right: 0;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    box-shadow: 0 8px 16px 0 rgba(28,31,33,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#header #login-area .shop-cart {
    /* height: 36px; */
    line-height: 36px;
    /* margin: 18px 0; */
}
.shop-cart .my-cart .cart-title-box {
    padding: 13px 12px;
    border-bottom: 1px solid #D3D6D9;
}
.shop-cart .my-cart .cart-title-box h2 {
    font-weight: bold;
    font-size: 14px;
    color: #1C1F21;
}
.shop-cart .my-cart .cart-title-box h2, .shop-cart .my-cart .cart-title-box h5 {
    height: 24px;
    line-height: 24px;
}
.shop-cart .my-cart .cart-title-box h5 {
    font-size: 12px;
    color: #9199A1;
}
.shop-cart .my-cart .cart-title-box h5 {
    font-size: 12px;
    color: #9199A1;
}
#header #login-area .shop-cart {
    /* height: 36px; */
    line-height: 36px;
    /* margin: 18px 0; */
}
.shop-cart .my-cart .cart-wrap .clear-cart {
    height: 284px;
    text-align: center;
}
.shop-cart .my-cart .cart-wrap .clear-cart .cartIcon {
    margin: 36px 0 8px;
    display: inline-block;
    font-size: 72px;
    color: #D3D6D9;
}
.shop-cart .my-cart .cart-wrap .clear-cart {
    height: 284px;
    text-align: center;
}
.shop-cart .my-cart .cart-wrap .clear-cart h3 {
    font-size: 14px;
    color: #545C63;
    text-align: center;
    line-height: 24px;

}
.shop-cart .my-cart .cart-wrap .clear-cart .text {
    margin-bottom: 8px;
    font-size: 12px;
    color: #9199A1;
    text-align: center;
    line-height: 24px;
}
p {
    word-break: break-all;
}
.shop-cart .my-cart .cart-wrap .clear-cart .go-link {
    display: block;
    color: rgba(240,20,20,0.6);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
}
.shop-cart .my-cart .more-box {
    padding: 16px 12px;
    border-top: 1px solid #D3D6D9;
}
.shop-cart .my-cart .more-box .show-box {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
.shop-cart .my-cart .more-box .show-box .text {
    color: #93999f;
}
.shop-cart .my-cart .more-box .show-box {
    /* height: 32px; */
    line-height: 32px;
    font-size: 12px;
}
.shop-cart .my-cart .more-box .show-box .text a {
    color: #93999f;
}

.shop-cart .my-cart .more-box .go-cart {
    width: 96px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
    background: rgba(240,20,20,0.8);
    border-radius: 16px;
    border: none;
}




/* main */

#main {
    display: block;
    padding: 0;
}
#main {
    /* padding: 20px 0; */
    min-height: calc(100% - 140px);
}
body .bk {
    height: 180px;
    opacity: 0.3;
    
    filter: blur(100px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='100');
}
body .bk {
    width: 100%;
    height: 490px;
    position: absolute;
    top: 0px;
    background-image: url(/static/img/index/bk.jpg);
    background-size: cover;
    transition: all .3s;
}
#main > .bgfff {
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}
.bgfff {
    background-color: #fff !important;
}
.banner-box {
    padding-top: 32px;
}
.g-banner {
    height: 382px;
    margin-bottom: 44px;
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
}
.g-banner {
    position: relative;
    overflow: hidden;
    width: 1152px;
    margin: auto;
    border-radius: 8px;
}
.menuwrap {
    background-color: rgba(7, 17, 27, 0.5);
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 382px;
    z-index: 1;
}
.menuwrap, .menuContent {
    height: 382px;
}
.submenu {
    height: 382px;
}
.submenu {
    background: #fff;
    position: absolute;
    left: 216px;
    top: 0px;
    width: 768px;
    height: 382px;
    z-index: 581;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.submenu .innerBox {
    background-color: #fff;
    padding: 26px 36px 32px;
    position: relative;
    min-height: 150px;
}
.submenu .subinnerBox {
    overflow: hidden;
    box-sizing: border-box;
}
.clearfix {
    *zoom: 1;
}
.submenu .banner-line {
    line-height: 22px;
    margin-bottom: 12px;
}
.submenu .banner-line span {
    font-size: 14px;
    color: #1C1F21;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: bold;
}
.bold {
    font-weight: 700 !important;
}
.mr10 {
    margin-right: 10px !important;
}
.submenu .tag-box {
    font-size: 0;
}
.submenu .tag-box a {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
    margin-right: 24px;
    display: inline-block;
}
a:link, a:visited {
    color: #1c1f21;
}
:link, :visited, ins {
    text-decoration: none;
}


/* <div class="recoment-box"> */
.recomment-box {
    position: absolute;
    bottom: 0;
    background: #F8FAFC;
    padding: 27px 0 0px 36px;
}
.recomment-box .banner-course-card {
    width: 312px;
    margin-right: 48px;
    margin-bottom: 27px;
}
.recomment-box a {
    display: block;
    width: 100%;
    height: 100%;
}
a:link, a:visited {
    color: #1c1f21;
}
.recomment-box .banner-course-card img {
    width: 70px;
    height: 52px;
    border-radius: 4px;
    background-color: #ccc;
}
.recomment-box .banner-course-card .course-card {
    margin-left: 16px;
}
.recomment-box .banner-course-card .course-card-name {
    width: 226px;
    font-size: 14px;
    color: #07111B;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recomment-box .banner-course-card .course-card-price {
    font-size: 12px;
    color: #545C63;
    line-height: 18px;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.recomment-box .banner-course-card .course-card-info {
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 3 */
recomment-box .course-banner-path {
    float: left;
    position: relative;
    transition: all .3s;
    width: 52px;
    height: 52px;
    background-color: #f3f5f7;
    border-radius: 8px;
}
.recomment-box .course-banner-path .img-up {
    left: 0px;
    top: 0;
    width: 52px;
    height: 52px;
    z-index: 3;
}
.recomment-box .course-banner-path .img-up, .recomment-box .course-banner-path .img-mid, .recomment-box .course-banner-path .img-down {
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.recomment-box .course-banner-path .img-mid {
    top: 0;
    left: 2px;
    width: 48px;
    height: 52px;
    opacity: 0.4;
    z-index: 2;
}
.recomment-box .course-banner-path .img-up, .recomment-box .course-banner-path .img-mid, .recomment-box .course-banner-path .img-down {
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.recomment-box .course-banner-path .img-mid {
    top: 0;
    left: 2px;
    width: 48px;
    height: 52px;
    opacity: 0.4;
    z-index: 2;
}
.recomment-box .course-banner-path .img-up, .recomment-box .course-banner-path .img-mid, .recomment-box .course-banner-path .img-down {
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    
}
.recomment-box .course-banner-path .img-down {
    top: 0;
    left: 4px;
    width: 44px;
    height: 52px;
    opacity: 0.2;
    z-index: 1;
}
.recomment-box .course-banner-path .img-up, .recomment-box .course-banner-path .img-mid, .recomment-box .course-banner-path .img-down {
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.recomment-box .banner-course-card .course-card {
    margin-left: 16px;
}
.recomment-box .banner-course-card .course-card-name {
    width: 226px;
    font-size: 14px;
    color: #07111B;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recomment-box .banner-course-card .course-card-info {
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
}
.recomment-box .banner-course-card .course-card-info .pathicon {
    width: 32px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background: #F53D3D;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    display: inline-block;
}
.recomment-box .banner-course-card .course-card-info span {
    margin-right: 12px;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.recomment-box .banner-course-card i.imv2-star2 {
    margin-left: 12px;
    vertical-align: middle;
    margin-top: -7px;
    display: inline-block;
    font-size: 17px;
    margin-right: 4px;
    color: #9199a1;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.recomment-box .banner-course-card .course-card-info {
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
}
.recomment-box .banner-course-card i.imv2-star2 {
    margin-left: 12px;
    vertical-align: middle;
    margin-top: -7px;
    display: inline-block;
    font-size: 17px;
    margin-right: 4px;
    color: #9199a1;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menuwrap, .menuContent {
    height: 382px;
}

.menuContent {
    position: relative;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 382px;
    z-index: 2;
    padding-top: 17px;
    box-sizing: border-box;
    background: #2b333b;
    border-bottom-left-radius: 4px;
    font-weight: 400;
}
.menuContent .item {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}
.menuContent .item > a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    height: 50px;
    transition: all .1s;
}
.menuContent {
    font-weight: 400;
}
.menuContent .item .group {
    font-size: 14px;
}
.menuContent .item i {
    position: absolute;
    right: 8px;
    top: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}



