body{
	margin: 0;
	padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body, html {
    font: 14px/1.5 "PingFang SC","微软雅黑","Microsoft YaHei",Helvetica,"Helvetica Neue",Tahoma,Arial,sans-serif;
        font-size: 14px;
    color: #1c1f21;
}
#new_header {
    background: #07111B;
}
#new_header .new-header {
    width: 1152px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
}
ul {
    list-style: none;
}
#new_header .new-header .nav-item li {
    float: left;
}
#new_header .new-header .nav-item li:first-child a {
    padding-left: 0;
}
#new_header .new-header .nav-item li > a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #717A84;
    font-weight: bold;
    position: relative;
    padding: 0 18px;
        padding-left: 18px;

}
#new_header .new-header .header-right {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
}
#new_header .new-header .header-right .app-download, #new_header .new-header .header-right .search-box, #new_header .new-header .header-right .shop-cart {
    float: left;
    position: relative;
    margin-right: 36px;
    font-size: 12px;
}
#new_header .new-header .header-right .app-download {
    line-height: 40px;
}
#new_header .new-header .header-right .app-download a, #new_header .new-header .header-right .search-box a, #new_header .new-header .header-right .shop-cart a {
    color: #717A84;
}
:link, :visited, ins {
    text-decoration: none;
}
 #new_header .new-header .header-right .search-box, #new_header .new-header .header-right .shop-cart {
    float: left;
    position: relative;
    margin-right: 36px;
    font-size: 12px;
}
 #new_header .new-header .header-right .search-box a, #new_header .new-header .header-right .shop-cart a {
    color: #717A84;
}
#new_header .new-header .header-right .search-box i {
    font-size: 22px;
    vertical-align: middle;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#new_header .new-header .header-right .search-box i {
    font-size: 22px;
}
#new_header .new-header .header-right .shop-cart {
    float: left;
    position: relative;
    margin-right: 36px;
    font-size: 12px;
}
 #new_header .new-header .header-right .shop-cart a {
    color: #717A84;
}
#new_header .new-header .header-right .shop-cart .imv2-shopping-cart2 {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 0;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    webkit-font-feature-settings: "liga";
    moz-font-feature-settings: "liga=1";
    moz-font-feature-settings: "liga";
    ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    webkit-font-smoothing: antialiased;
    moz-osx-font-smoothing: grayscale;
}
#new_header .new-header .header-right #login-area {
    float: left;
    position: relative;
}
#new_header .new-header .header-right #login-area .logined {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#new_header .new-header .header-right #login-area .logined .remind_warp {
    width: auto;
    margin: 0 36px 0 0;
    position: relative;
}
#new_header .new-header .header-right #login-area .logined > li {
    float: left;
}
#new_header .new-header .header-right #login-area .logined .remind_warp > a {
    display: block;
    color: #717A84;
    text-align: center;
}
#new_header .new-header .header-right #login-area .logined .remind_warp .imv2-bell1 {
    vertical-align: middle;
    font-size: 22px;
}
#new_header .new-header .header-right #login-area .logined .remind_warp > a {
    color: #717A84;
    text-align: center;
}
#new_header .new-header .header-right #login-area .logined .remind_warp .imv2-bell1 {
    font-size: 22px;
}
#new_header .new-header .header-right #login-area .logined > li {
    float: left;
}
#new_header .new-header .user-mycourse-box {
    margin-right: 18px;
}
#new_header .new-header .user-mycourse-box > a {
    color: #717A84;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    display: block;
}
#new_header .new-header .user-mycourse-box > a {
    color: #717A84;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}
#new_header .new-header .header-right #login-area .logined > li {
    float: left;
}
.user-card-box {
    position: relative;
}
#new_header .new-header .header-right #login-area .logined .user-card-item {
    line-height: 40px;
}
a:visited {
    color: #1c1f21;
}
#new_header .new-header .header-right #login-area .logined .user-card-box .user-card-item img {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
}
fieldset, img {
    border: 0;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#new_header .new-header .header-right .search-box i {
    font-size: 22px;
    vertical-align: middle;
}
.shop-cart-icon span{
	font-size: 22px;
	vertical-align: middle;
	margin-right: 0;
	
	/* font-family: 'imv2' !important; */
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	    font-variant-ligatures: normal;
	text-transform: none;
	line-height: 1;
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.remind_warp a i{
	vertical-align: middle;
	font-size: 22px;
}
#new_header .new-header .header-right .app-download, #new_header .new-header .header-right .search-box, #new_header .new-header .header-right .shop-cart {
    float: left;
    position: relative;
    margin-right: 36px;
    font-size: 12px;
}
#main {
    padding: 0;
    position: relative;
}
.bg-other {
    background: url(../static/img/wodekech/temp1.png) no-repeat center top #000;
        background-size: auto;
    background-size: cover;
}
.user-head-info .user-info {
    position: relative;
    width: 1152px;
    margin: 0 auto;
}
.user-head-info .user-info .user-pic .user-pic-bg {
    border: 4px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    top: 24px;
}
.user-head-info .user-info .user-pic .user-pic-bg .img {
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.user-head-info .user-info .user-info-right {
    float: right;
    width: 980px;
}
.user-head-info .user-info .user-name {
    font-weight: 600;
    text-align: left;
    font-size: 24px;
    color: #fff;
    line-height: 28px;
    margin-top: 48px;
}
.user-head-info .user-info .user-name span {
    float: left;
}
.user-head-info .user-info .user-name {
    font-weight: 600;
    text-align: left;
    font-size: 24px;
    color: #fff;
    line-height: 28px;
}
.clearfix::after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.user-head-info .user-info .about-info {
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: left;
    margin-top: 6px;
}
.user-head-info .user-info .about-info span {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.user-head-info .user-info .about-info a.more-user-info {
    font-size: 12px;
    color: rgba(255,255,255,.6);
    line-height: 16px;
    display: inline-block;
    height: 16px;
    padding-left: 16px;
    border-left: 2px solid rgba(255,255,255,.4);
    cursor: pointer;
}
a, button, input {
    outline: 0;
}
.user-head-info .user-info .about-info a.more-user-info i {
    display: inline-block;
    margin-right: 2px;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.user-head-info .user-info {
    position: relative;
    width: 1152px;
    margin: 0 auto;
}
.user-head-info .user-info .user-sign {
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    width: 440px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.user-head-info .user-info .user-desc {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    word-break: break-all;
    word-wrap: break-word;
    opacity: .5;
    margin-left: 24px;
}
.user-head-info .study-info {
    position: absolute;
    top: 48px;
    right: 10px;
    min-width: 200px;
    text-align: right;
}
.user-head-info .study-info .follows {
    margin-right: 24px;
}
.user-head-info .study-info .item {
    line-height: 48px;
    vertical-align: middle;
    height: 48px;
    float: left;
}
.user-head-info .study-info .item {
    line-height: 48px;
}
.user-head-info .study-info {
    text-align: right;
}
.user-head-info .study-info .item em {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: rgba(255,255,255,.8);
    line-height: 28px;
}
.user-head-info .study-info .item span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,.8);
    line-height: 20px;
    margin-top: 4px;
}
.user-head-info .study-info .follows {
    margin-right: 24px;
}
.user-head-info .study-info .item {
    line-height: 48px;
    vertical-align: middle;
    height: 48px;
    float: left;
}
a:link, a:visited {
    color: #1c1f21;
}
.user-head-info .study-info .item em {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: rgba(255,255,255,.8);
    line-height: 28px;
	font-style: normal;
}
.user-head-info .study-info .item span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: rgba(255,255,255,.8);
    line-height: 20px;
    margin-top: 4px;
}
.user-head-info .study-info .follows {
    margin-right: 24px;
}
.user-head-info .study-info .item {
    line-height: 48px;
    vertical-align: middle;
    height: 48px;
    float: left;
}
.user-head-info .study-info .set-btn {
    padding: 8px 16px;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 18px;
    font-size: 14px;
    color: rgba(255,255,255,.8);
    line-height: 20px;
    height: 20px;
}
.user-head-info .study-info .set-btn i {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}
.user-head-info .study-info .set-btn {
    font-size: 14px;
    color: rgba(255,255,255,.8);
    line-height: 20px;
}
.user-head-info .user-info .user-pic .user-pic-bg {
    border: 4px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    width: 140px;
    height: 140px;
    position: relative;
    border-radius: 50%;
    background: #fff;
    top: 24px;
}
.user-info-right{
	float: left;
}
.user-head-info .user-info .user-pic {
    float: left;
    width: 148px;
    height: 148px;
}






/* 中间白色部分 */
.wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.slider {
    position: absolute;
    width: 172px;
    left: 24px;
    top: 0;
}
ul {
    list-style: none;
}
.slider ul li:first-child {
    margin-top: 40px;
}
.slider ul li {
    height: 48px;
    width: 160px;
    margin: 0 auto 8px;
        margin-top: 0px;
}
.slider ul a.active {
    color: #fff;
    background: rgba(240,20,20,.8);
    border-radius: 8px 0 0 8px;
}
.slider ul a {
    position: relative;
    display: block;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #787d82;
    padding-left: 54px;
    text-align: left;
}
.slider ul a.active i {
    color: #fff;
}
.slider ul a i {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 20px;
    color: #93999f;
    line-height: 48px;
}
.slider ul a.active i {
    color: #fff;
}
.slider ul a.active {
    color: #fff;
}
.slider ul a {
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    color: #787d82;
    text-align: left;
}
.slider ul a b {
    visibility: hidden;
}
.slider ul a .new-icn {
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 120px;
    width: 16px;
    height: 16px;
    background: url(/static/img/common/new.png) no-repeat 0 0;
}
.slider ul a i {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 20px;
    color: #93999f;
    line-height: 48px;
}
.slider ul a i {
    position: absolute;
    left: 20px;
    top: 0;
    font-size: 20px;
    color: #93999f;
    line-height: 48px;
}
[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
        font-variant-ligatures: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.u-container {
    margin-left: 240px;
    min-height: 589px;
}
.c-tab {
    font-size: 16px;
    color: #545c63;
    height: 52px;
    line-height: 52px;
    margin-top: 18px;
    border-bottom: 1px solid #d9dde1;
}
.l {
    float: left;
}
.c-tab .tool-left .active, .c-tab .tool-left .sort-item:hover {
    color: #f20d0d;
    border-bottom: 2px solid #f20d0d;
}
.c-tab .sort-item {
    margin-right: 64px;
    display: inline-block;
    color: #545c63;
}
.c-tab .sort-item {
    margin-right: 64px;
    display: inline-block;
    color: #545c63;
}

.all-course-main {
    margin-top: 28px;
}
.allcourse-content {
    width: 100%;
    box-sizing: border-box;
}
.courseitem:first-child {
    margin-top: 0;
}
.courseitem {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}
.courseitem .img-box {
    width: 200px;
    margin-right: 30px;
}
a:link, a:visited {
    color: #1c1f21;
}
:link, :visited, ins {
    text-decoration: none;
}
.courseitem .img-box img {
    vertical-align: top;
}
.courseitem .info-box {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9dde1;
    position: relative;
    padding-bottom: 28px;
    width: 730px;
}
.courseitem .info-box .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.courseitem .info-box .title span:first-child {
    background: #f5f7fa;
    border-radius: 2px;
    width: 62px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #9199a1;
    font-weight: 400;
    margin-right: 12px;
}
.courseitem .info-box .title .hd {
    font-size: 20px;
    color: #07111b;
    font-weight: 700;
    line-height: 36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.courseitem .info-box .study-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}
.courseitem .info-box .study-info span.i-left {
    color: #f20d0d;
}
.courseitem .info-box .study-info span {
    line-height: 24px;
    font-size: 14px;
    color: #4d555d;
    margin-right: 24px;
}
.courseitem .info-box .study-info span {
    line-height: 24px;
    font-size: 14px;
    color: #4d555d;
    margin-right: 24px;
}
.courseitem .info-box .catog-points {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.courseitem .info-box .catog-points span {
    font-size: 14px;
    line-height: 36px;
    color: #4d555d;
    margin-right: 36px;
}
.courseitem .info-box .catog-points span a {
    color: #4d555d;
}
.courseitem .info-box .catog-points span i {
    color: #93999f;
    font-style: normal;
}
.courseitem .info-box .catog-points span {
    font-size: 14px;
    line-height: 36px;
    color: #4d555d;
    margin-right: 36px;
}
.courseitem .info-box .catog-points span a {
    color: #4d555d;
}
.courseitem .info-box .catog-points span i {
    color: #93999f;
    font-style: normal;
}
.moco-ico-btn.disabled, .moco-ico-btn[disabled], .moco-ico-btn.disabled:hover, .moco-ico-btn[disabled]:hover, .moco-ico-btn.disabled:focus, .moco-ico-btn[disabled]:focus, .moco-ico-btn.disabled.focus, .moco-ico-btn[disabled].focus, .moco-ico-btn.disabled:active, .moco-ico-btn[disabled]:active, .moco-ico-btn.disabled.active, .moco-ico-btn[disabled].active {
    cursor: default;
    box-shadow: none;
    opacity: 1;
    color: #9199a1;
    border-color: #d3d6d9;
}
.moco-ico-btn {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    text-decoration: none;
    box-sizing: border-box;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    white-space: nowrap;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    -weibkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #545c63;
    background-color: transparent;
    border-color: #9199a1;
    opacity: 1;
    padding: 7px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 18px;
}
.courseitem .info-box .catog-points .continute-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 14px;
    border: none;
    color: #fff;
    width: 104px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: rgba(240,20,20,.6);
    border-radius: 18px;
}
.share-box {
    position: absolute;
    right: 10px;
    top: 27px;
    width: 30px;
    background-color: #ff0;
    overflow: visible;
}
.courseitem .info-box .share-box .show-btn {
    top: -20px;
}
.share-box .show-btn {
    position: absolute;
    top: 8px;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    color: #bdc0c3;
    cursor: pointer;
}
[class*=" icon-"], [class^="icon-"] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.recomment-body {
    width: 100%;
    margin-top: 48px;
    padding-bottom: 40px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.recomment-body h4 {
    font-size: 16px;
    color: #1c1f21;
    line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
.recomment-body ul {
    clear: both;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ol, ul {
    list-style: none;
}
.recomment-body ul li:first-child {
    margin-left: 0;
}
.recomment-body ul li {
    width: 216px;
    margin-bottom: 8px;
    margin-left: 32px;
}
.recomment-body ul li .recommend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomment-body ul li .img {
    position: relative;
    margin-bottom: 8px;
}
.recomment-body ul li .img img {
    width: 216px;
    height: 120px;
    border: 0;
    border-radius: 8px;
}
.recomment-body ul li .content {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.recomment-body ul li .content p.title {
    margin-top: 0;
    font-size: 16px;
    color: #1c1f21;
    line-height: 22px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 4px;
    max-height: 44px;
    overflow: hidden;
}

.recomment-body ul li .content .info {
    font-size: 12px;
    color: #545c63;
    text-align: left;
    line-height: 18px;
}
.recomment-body ul li .content .info span:first-child {
    font-weight: 700;
}
.recomment-body ul li .content .info span {
    margin-right: 12px;
}
.recomment-body ul li .content .info {
    font-size: 12px;
    color: #545c63;
    text-align: left;
    line-height: 18px;
}
.recomment-body ul li .content .info span.imv2-set-sns {
    margin-right: 0;
}
.recommend-item a{
	text-decoration: none;
}
#js-load-recommentcourse li a{
	text-decoration: none;
}
.slider ul li a{
	text-decoration: none;
}









